/*
colors: #FF8800, #668EB9, #73CFF8, #FFE2D2, #B3C7DC
*/
body {
  background-color: darkgrey;
  display: grid;
  margin: 0px;
}

header, footer {
  width: 100%;
  background-color: #668EB9;
  text-align: center;
}

nav {
  width: 100%;
  background-color: #FFE2D2;
  text-align: center;
}

nav li {
  list-style: none;
  border: 2px solid black;
  background-color: #73CFF8;
  display: inline;
  padding: 5px;
}

main {
  background-color: #B3C7DC;
  max-width: 650px;
  min-width: 300px;
  padding: 10px;
  margin: 0 auto;
  border: 2px solid black;
  min-height: 120px;
}

footer {
  height: 50px;
  border-top: 2px solid black;
  margin: 10px 0px 0px 0px;
}
